*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}


/* Inicio Cadastro de produtos */
.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}

.subtitulo{
    font-size: 20px;
    font-weight: bold;
}

.item{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.item input{
    padding: 10px 30px;
}

.item-desc {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-top: 20px;
}

.centraliza-botao{
    text-align: center;
}

.botao{
    padding: 15px 30px;
    margin-top: 20px;
}
/* Fim Cadastro de produtos */

/* Inicio Listar produtos */
#grid-produtos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.figure-produtos{
    border: 2px solid black;
    border-radius: 4px;

}

.img-produtos{
    width: 100%;
}

.figcaption-produtos{
    display: grid;
    padding: 20px;
    gap: 20px;
}

.botao-produtos{
    display: grid;
    padding: 6px 12px;
    margin: 10px auto;
    background-color: #40d86e;
    font-weight: bold;
    border-radius: 3px;
    color: white;
}
/* Fim Listar produtos */

/* Inicio Gerenciar produtos */
#tabela{
    display: grid;

}

.item-tabela {
    text-align: center;
}
/* Fim Gerenciar produtos */

/* Inicio Alterar produtos */


/* Fim Alterar produtos */